@page "/Codeeditor"

<MudDrawerContainer Class="mud-height-full mud-ide-container" Style="overflow:hidden; position:relative;">
	<MudDrawer @bind-Open="@open" Fixed="false" Elevation="2" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" ClipMode="DrawerClipMode.Always" Breakpoint="Breakpoint.Lg">
		<MudNavMenu>
			@if (primefiles.HasBackup)
			{
				@foreach (var app in primefiles.PrimeData.Apps)
				{

					<MudNavLink OnClick="(() => SelectApplication(app))" Icon="@app.SvgIcon">@app.Name</MudNavLink>
				}
			}
		</MudNavMenu>
	</MudDrawer>
	<MudDrawer @bind-Open="@openEnd" Fixed="false" Anchor="Anchor.Right" Elevation="3" Variant="@DrawerVariant.Persistent" ClipMode="DrawerClipMode.Always" Breakpoint="Breakpoint.Lg" Class="@((openEnd ? "right-drawer-size-bigger" : ""))">

		<MudDrawerHeader>
			@if (CurrentApp != null)
			{
				<MudText Typo="Typo.h6">@CurrentApp.Name</MudText>
			}
			else
			{
				<MudText Typo="Typo.h6">Please select app</MudText>
			}
		</MudDrawerHeader>
		<MudTreeView T="string" Dense="true" Hover="false">
			<MudTreeViewItem Value="@("Files:")"/>
			<MudDivider />
			
				<MudList Clickable="true" Dense="true" DisableGutters="false" Style="height:40vh;overflow: auto">
				 @if (CurrentApp != null)
				{
					@foreach (var file in CurrentApp.Files)
					{
						<MudListItem Text="@(file.Key)" OnClick="(() => SelectFile(file.Key))" Icon="@(getFileIcon(file.Key))" Class="narrow-icons"/>
					}
				}     
            </MudList>		
			<MudDivider />
			
			<MudTreeViewItem Value="@("Variables")" Style="padding-top: 1rem;">
			</MudTreeViewItem>
		</MudTreeView>

	</MudDrawer>


	<MonacoEditor @ref="_editor" Id="ide-anim" ConstructionOptions="EditorConstructionOptions" OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu" />



	<div class="file-floater rotated-left right-drawer-size-bigger">
		<MudButton Variant="Variant.Filled" StartIcon="@filebrowsericon" Color="Color.Primary" Class="rounded-b-xl" OnClick="ToggleDrawerRight">Program Files</MudButton>
	</div>

	<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Class="fab-bottom-right right-drawer-size-bigger">
		<MudButton StartIcon="@Icons.Material.Filled.Upload">Save and Upload</MudButton>
		<MudButton StartIcon="@Icons.Material.Filled.Clear" IconColor="Color.Warning">Undo changes</MudButton>
	</MudButtonGroup>

</MudDrawerContainer>



@code {

}