

<div style="width: 100%;">
	<MudList Clickable="true">
		

		<MudList Clickable="true" Dense="true">
			<MudListSubheader>
				Home Variables
			</MudListSubheader>
			<MudListItem />

			<MudListItem Text="Real" Icon="@CustomIcons.Math.Real" />
			<MudListItem Text="Complex" Icon="@CustomIcons.Math.Complex" />
			<MudListItem Text="List" Icon="@CustomIcons.Math.List" />
			<MudListItem Text="Matrix" Icon="@CustomIcons.Math.Matrix" />
			<MudListItem Text="Graphics" Icon="@Icons.Material.Outlined.Image" />
			<MudListItem Text="Settings" Icon="@Icons.Material.Outlined.Settings" />
			<MudListItem Text="System" Icon="@CustomIcons.System" />

		</MudList>
		<MudDivider />
		<MudList Clickable="true" Dense="true">
			App Variables
		</MudList>

		<MudListItem Text="Settings" Icon="@Icons.Material.Filled.Settings" />

	</MudList>
</div>